@font-face {
  src: url("CursedTimerUlil-Aznm.ttf");
  font-family: "Cursed Timer ULiL";
}

body {
    margin: 0;
    background: #5B21B6;
}

h3 {
    color: whitesmoke;
    font-size: 40px;
    margin: 60px 0px 20px 0px; 
}

.score {
    font-family: "Cursed Timer ULiL";
    color: #4C1D95;
    background-color: #DDD6FE;
    margin: 0;
    padding: 0;
    font-size: 90px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    min-width: 380px;
}

.home-div, .guest-div {
    width: 140px;
}

button {
    margin: 25px 0 0 0;
    background: none;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    padding: 10px 10px;
}

.btn-wrapper{
    display: flex;
    justify-content: space-between;
}


/* www.figma.com/design/k3c7WrIpzIlXJWV82fdMVO/Basketball-Scoreboard-(Copy)?node-id=0-1&p=f&t=FGxM8GYYTexKk3MA-0
